/* MAIN MAIN MAIN MAIN MAIN  MAIN MAIN MAIN MAIN MAIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(100deg,#f0ece9 30%, #b3a196);
  font-family: 'Montserrat', sans-serif;
}
header {
  min-width: 500px:
  width: 100%;
  position: sticky; top: 0;
  background-color: #FFFFFC;
  padding: 1.2em 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  z-index: 2;
}
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-list {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.nav-links {
  display: inline-block;
  list-style: none;
  font-size: 1em;
}
.nav-links > a {
  text-decoration: none;
  color:#122932;
  font-family: 'Poiret One', sans-serif;
  text-transform: uppercase;
  transition: all 2s;
}
.nav-links > a:hover {
  text-decoration: overline;
  text-decoration-thickness: .01em;
  text-shadow: 0 2px 10px rgb(0 0 0 / 0.4);
}
#logo {
  display: inline-block;
  color:#95818d;
  font-family: 'The Nautigal', cursive;
  font-size: 4em;

}
/* HAMBURGER HAMBURGER HAMBURGER HAMBURGER HAMBURGER HAMBURGER */
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;

  appearence: none;
  background: none;
  outline: none;
  border: none;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  height: 1px;
  background-color: black;
  margin: 9px 0px;
  transistion: 0.5s;
}
.hamburger:before {
  width: 80%;
}
.hamburger .bar{
  width: 90%;
}
.hamburger:after {
  width: 100%;
}
.hamburger.is-active:before {
  width: 100%;
  transform: rotate(-45deg) translate(-8px, 5px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-10px, -7px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
.mobile-nav {
  display: block;
  top: 0;
  left: 100%;
  position: fixed;
  width: 50%;
  min-height: 100vh;
  z-index: 1;
  background-color: #95818d;
  padding-top: 120px;
  box-shadow: 0 3px 10px rgba(0 0 0 / 0.7);
}
.mobile-nav.is-active {
  left: 50%;
  transition: 0.6s ease;
}
.mobile-nav > a {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 5vw;
  /* max-width: 200px; */
  margin: 20px auto;
  padding: 12px 16px;
  background-color: #95818d;
  color: #FFFFFC;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-nav > a:hover {
  background-color: #99868f;
  text-shadow: 0 3px 10px rgba(0 0 0 / 0.7);
}
/* END OF HAMBURGER END OF HAMBURGER END OF HAMBURGER */
#welcome-section {
  width: 80%;
  margin: 8vw auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#greeting-area {
  width: 100%;
  margin: 3vw 0;
  display: flex;
  flex-direction: column;
}
#greeting-area > h1 {
  font-size: 6.5em;
  font-weight: 100;
  margin-bottom: 8%;
  text-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
  letter-spacing: 1vw;
  animation: fadeInLeft2 3s 1;
}
.name {
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 2%;
  animation: fadeInLeft2 3s 1;
}
.description {
  font-size: 1.7rem;
  font-weight: 100;
  animation: fadeInLeft2 3s 1;
}
.empty > img{
  float: right;
  width: 70%;
  margin-right: 4vw;
  border-radius: 1%;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.5);
  transform: rotate(10deg);
  animation: fadeInLeft 3s 1;
}
.about-section {
  width: 80%;
  margin: 5vw auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  background-color: #95818d;
  border-radius: 5%;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.5);
}
.about {
  margin-top: 4vw;
  width: 80%;
  text-align: center;
}
.about > h2 {
  font-size: 5.5vw;
  font-weight: 100;
  color: #470024;
  margin-bottom: 1vw;
  text-shadow: 0 3px 10px rgba(0 0 0/ 0.5);
  animation: fadeInLeft2 3s 1;
}
.about > p {
  font-size: 25px;
  margin-bottom: 3em;
  color: #FFFFFC;
}
.about > p > a {
  color: #470024;
  text-decoration: none;
  transition: all .5s ;
}
.about > p > a:hover {
  color: #FFFFFC;
}
.about-section > h3 {
  font-size: 35px;
  margin: 0 0 5% 0;
  font-weight: 100;
  padding: 0 5vw 2vw 5vw;
  border-bottom: 1px solid #FFFFFC;
  color: #FFFFFC;
  text-shadow: 0 3px 10px rgba(0 0 0/ 0.5);
}
#hobbies {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 5%;
}
.images{
  width: 25vw;
  display: flex;
  flex-direction:column;
}
.images > img {
  border-radius: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  margin: 5%;
  border: 1px solid #FFFFFC;
}
.image-text {
  font-size: 2vw;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 1vw;
  color: #FFFFFC;
}
footer {
  width: 100%;
  background-color:#FFFFFC;
  padding: 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.5);
  bottom: 0px;
}
.connect {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1%;
  text-shadow: 0 2px 10px rgb(0 0 0 / 0.2);
}
hr {
  width: 30%;
  margin: 1.5% auto;
}
.social-media {
  margin: 0 auto;
}
.social-media > i > a > ion-icon {
  font-size: 2.5em;
  color: #470024;
  margin: 0 2vw;
  transition: all .5s;
}
ion-icon:hover {
  transform: scale(1.2, 1.2);
}
/* ABOUT RESUME ABOUT RESUME ABOUT RESUME ABOUT RESUME */
.resume {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.resume-details {
  margin: 5% 5%;
  padding: 3vw;
  background-color: #f0ece9;
  opacity: .7;
  border-radius: 2%;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.5);
  text-align: center;
}
.section1 {
  padding: 4vw;
  margin: 0 10vw;
  /* width: 90%; */
}
.section2 {
  width: 30%;
}
.section3 {
  width: 30%;
}
.resume-titles {
  font-size: 1.7rem;
  margin-bottom: 1.5vw;
}
.resume-list {
  list-style: none;
  margin: 15px;
  font-size: 20px;
}
.resume-list > img {
  width: 20px;
}
.button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3vw auto;
}
.resume-button {
  padding: 1vw 3vw;
  border-radius: 20px;
  background-color: #FFFFFC ;
  color: #470024;
  font-size: 2vw;
  font-family: 'Montserrat', cursive;
  opacity: .7;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.5);
  transition: all .6s;
}
.resume-list >ion-icon:hover {
  transform: scale(1, 1);
}
.resume-button:hover {
  transform: scale(1.1, 1.1);
  background-color: #95818d;
  color: #FFFFFC;
  box-shadow: 0 10px 10px rgb(0 0 0 /.7);
}
/* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */
.contact-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vw 0;
}
.contact-heading > h1{
  color: #470024;
  font-size: 8vw;
  font-weight: 100;
  padding: 2vw ;
  border-right: 1px solid #888888;
  text-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
  animation: fadeInLeft2 3s 1;
}
.icons {
  display: flex;
  flex-direction: column;
}
.icons > i > a > ion-icon {
  color: #FFFFFC;
  font-size: 2.5em;
  margin: 0 2vw;
  /* transition: all 2s; */
}
.contact-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  width: 80%;
  margin: 5vw auto 8vw auto;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.line {
  width:50vw;
  height: 3.5vw;
  margin: 1.8vw;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
  border: none;
  opacity: .9;
  font-size: 20px;
  padding-left: 20px;
}
.box {
  width: 50vw;
  height: 25vw;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
  border:none;
  opacity: .75;
  margin:1.5vw 0;
  font-size:20px;
  padding-left: 20px;

}
.send-button {
  padding: 1.5vw 5vw;
  background-color: #95818d;
  border-radius: 20px;
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 /.4);
  color: #FFFFFC;
  font-size: 2vw;
  font-family: 'Montserrat', cursive;
  font-weight: 100;
  margin-bottom: 2vw;
  cursor: pointer;
  transition: all .5s;
}
.send-button:hover{
  transform: scale(1.1);
  opacity: .8;
  box-shadow: 0 10px 10px rgb(0 0 0 /.7);
}
/* &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"SUBMIT";
  }
}
.onclic {
  width: 40px;
  border-color:$gray;
  border-width:3px;
  font-size:0;
  border-left-color:$green;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:$green;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: $green;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-title {
  color: #470024;
  font-size: 8vw;
  font-weight: 100;
  padding: 2vw ;
  border-bottom: 1px solid #999999;
  text-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
  animation: fadeInLeft2 3s 1;
}
.project-container {
  width: 85vw;
}
#project-images {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
#project-images > img {
  border-radius: 3px;
  width: 80%;
  margin: 6%;
  filter: grayscale(75%);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  border: 4vw dotted white;
  display: none;
  transition: all 1s ease-out;
  /* align-self: center; */
}
#project-images > img:first-of-type {
  display: block;
}
#project-images > img:hover {
  filter: grayscale(0);
}
.project-container {
  display: flex;
  align-items: center;
}
.project-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-buttons > button {
  margin: 2vw 3vw 30vw 3vw;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / .3);
  background-color: #95818d;
  color: #FFFFFC;
  font-family: 'Montserrat', cursive;
  font-size: 1.5vw;
  transition: all 1s ease-out;
}
.live-button > a {
  text-decoration: none;
  color: #FFFFFC;
  display: block;
  padding: 2vw 5vw;
}
.code-button > a {
  text-decoration: none;
  color: #FFFFFC;
  display: block;
  padding: 2vw 5vw;
}
.project-buttons > button:hover {
  transform: scale(1.1,1.1);
  opacity: .7;
}
.next-button, .back-button {
  display: inline;
}
.angle-forward > ion-icon{
  font-size: 70px;
  color: #95818d;
  /* padding: 2px; */
  box-shadow: 0 5px 10px rgb(0 0 0 /.3);
}
.angle-back > ion-icon {
  font-size: 70px;
  color: #95818d;
  /* padding: 2px; */
  box-shadow: 0 5px 10px rgb(0 0 0 /.3);
}
/* THANK YOU THANK YOU THANK YOU THANK YOU */
#thanks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #95818d;
  margin: 8vw 5vw 15vw 5vw;
  border-radius: 10px;
  box-shadow: 0 13px 10px rgb(0 0 0/ 0.7);
}
.thank-you-title {
  color: #470024;
  font-size: 8vw;
  font-weight: 100;
  padding: 2vw ;
  border-bottom: 1px solid #fffffc;
  text-shadow: 0 4px 10px rgb(0 0 0 / 0.4);
  animation: fadeInLeft2 3s 1;
}
#thanks-container >.thanks-text {
  color: #FFFFFC;
  font-size: 4vw;
  font-weight: 100;
  margin: 8vw 0;
  animation: fadeInLeft2 3s 1;
}
.additional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFC;
  margin:3vw 5vw 22vw 5vw;
  border-radius: 10px;
  box-shadow: 0 13px 10px rgb(0 0 0/ 0.7);
}
.additional > .thanks-text {
  color: #95818d;
  font-size: 4vw;
  font-weight: 100;
  margin: 8vw 0;
}
.additional > i > a{
  font-size: 60px;
  color: #470024;
}
.thanks-icons {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.thanks-icons > i {
  margin-bottom: 4vw;
}
.thanks-icons > i > a {
  color: #470024;
  margin-bottom: 4vw;
  font-size: 60px;
}
/* KeyFrames KeyFrames KeyFrames KeyFrames */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-4vw);
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateX(4vw);
    transform: rotate(10deg);
  }
}
@keyframes fadeInLeft2 {
  0% {
    opacity: 0;
    transform: translateX(-4vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}
/* Media Queries Media Queries Media Queries Media Queries */
@media (min-width:800px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
@media (max-width:1330px) {
  .resume {
    flex-direction: column;
  }
  .resume-details {
    padding: 3vw;
    margin: 2vw 0vw;
    width: 95%;
  }
  .section3 {
    margin-bottom: 5vw;
  }
  .contact-heading > h1 {
    font-size: 5.5em;
  }
  .line {
    width: 90vw;
    height: 7vw;
  }
  .box {
    width: 90vw;
    height:45vw;
  }
  .send-button {
    margin-bottom: 6vw;
  }
}
@media (max-width: 1000px) {
  .send-button{
    margin-bottom: 8vw;
  }
}
@media (max-width: 800px) {
  .nav-list {
    display: none;
  }
  #logo {
    font-size: 2.5em;
  }
  #welcome-section {
    width: 80%;
    margin: 4vw auto;
    transition: all 1s ease;
    flex-direction: column;
  }
  #greeting-area > h1 {
    font-size: 8vw;
    text-align: center;
    margin-bottom: 2vw;
  }
  .name {
    font-size: 4vw;
    margin-bottom: 2%;
    text-align: center;
  }
  .description {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 3vw;
  }
  .empty > img{
    width: 100%;
    margin: 0 0 5vw 0;
    transform: rotate(0deg);
    animation: none;
  }
  .about-section {
    border-radius: 1%;
    margin-bottom: 5vw;
  }
  .about > h2 {
    font-size: 3rem;
  }
  .about > p {
    font-size: 18px;
  }
  #hobbies {
    flex-direction: column;
  }
  .images {
    width: 60vw;
  }
  .images > img {
    max-height: 40vw;
  }
  .image-text {
    font-size: 4.5vw;
    margin-top: .5vw;
  }
  .resume-button {
    padding: 2vw 3vw;
    font-size: 3vw;
    margin-bottom: 3vw;
  }
  .contact-heading {
    flex-direction: column;
  }
  .contact-heading > h1 {
    text-align: center;
    border-bottom: 1px solid #888888;
    border-right: none;
  }
  .icons {
    flex-direction: row;
    margin-top: 3vw;
  }
  .line {
    width: 90vw;
    height: 7vw;
  }
  .box {
    width: 90vw;
    height:45vw;
  }
  .send-button{
    margin-bottom: 10vw;
  }
  #project-images > img {
    width: 100%;
    margin: 10%;
    border: none;
    display: block;
  }
  .project-buttons > button {
    margin: 4vw 3vw 20vw 3vw;
  }
  .next-button, .back-button {
    display: none;
  }
}
