*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  color: white;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  background: black;
}
.background{
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .99)60%), url('black-sand.jpg');
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;letter-spacing: normal;
  position: sticky;
}
.title-container{
  display: flex;
  justify-content: space-around;
  width: 85vw;
  align-items: center;
  margin-top: 5vh;
  position: relative;
}
header{
  background-color: rgb(0 0 0 /.9);
  display: flex; 
 justify-content: space-around;
  align-items: center; 
  position: sticky; top: 0;
  z-index: 4;
  padding: 0;
}
.nav-links {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: all .3s ease;
  display: inline-block;
}
.nav-links:hover {
  text-decoration: overline;
  transform: scale(1.1);
}
/* HAMBURGER HAMBURGER HAMBURGER HAMBURGER HAMBURGER HAMBURGER */
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  margin: 0 5% 0 60%;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  height: 1px;
  background-color: white;
  margin: 9px 0px;
  transition: all 0.9s;
}
.hamburger:before {
  width: 80%;
}
.hamburger .bar{
  width: 90%;
}
.hamburger:after {
  width: 100%;
}
.hamburger.is-active:before {
  width: 100%;
  transform: rotate(-45deg) translate(-8px, 5px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-10px, -7px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
.mobile-nav {
  display: block;
  top: 0;
  left: 100%;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.954);
  opacity: .9;
  padding-top: 120px;
  box-shadow: 0 3px 10px rgba(0 0 0 / 0.7);
}
.mobile-nav.is-active {
  left: 0;
  transition: 0.6s ease;
}
.mobile-nav > a {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 5vw;
  /* max-width: 200px; */
  margin: 20px auto;
  padding: 15px 16px;
  background-color: rgba(0, 0, 0, 0.01);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all .3s ease;
}
.mobile-nav > a:hover {
  background-color: #7c684e;
  text-shadow: 0 3px 10px rgba(0 0 0 / 0.7);
}
/* END OF HAMBURGER END OF HAMBURGER END OF HAMBURGER */








.text-title{
  width: 40vw;
}
h1{
  font-size:7vw;
  font-family: 'Herr Von Muellerhoff', cursive;
  text-align: center;
  
}
.text-title > p{
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}
.image-title{
  position: relative;
  /* margin-left: 5vw; */
  width: 25vw;
}
.image-border{
  width: 10vw;
  margin-left: 10vw;
  min-width: 100px;
}
.selfie{
  width: 20vw;
  min-width: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 18vw;
  left: 0;
  box-shadow: 0 1px 10px rgb(0 0 0 /.9);
}
.about{
  width: 100vw;
  background-color: black;
  padding: 18vh 10vw;
  box-shadow: 0 3px 20px rgb(0 0 0 /.8);
  position: relative;
}
.about > h2{
  font-size: 5.5rem;
  text-align: center;
  /* padding-top: 4vh; */
  font-family: 'Hurricane', cursive;
  font-weight: 100;
}
.arrows {
  position: absolute;
  bottom: 0;
}
.arrows > a > img{
  width: 100px;
}
.diamond{
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(20deg);
  z-index: 0;
  opacity: .8;
  width: 20rem;
}
.diamond2{
  position: absolute;
  bottom: 0;
  right: 40px;
  transform: rotate(-10deg);
  z-index: 0;
  opacity: .8;
  width: 20rem;
}
.about-info {
  width: 70%;
  margin: 7vh auto;
}
.about-info > p {
  font-size: 23px;
  text-align: center;
  text-shadow: 0 3px 10px rgb(0 0 0 /.8);
}
.photo-container {
  background: black;
}
.banner-border{
  text-align: center;
  background-color:rgba(255, 255, 255, 0.16);
  height: 22px;
}
.banner-container {
  position: relative;
  display: grid;
  width: 90%;
  place-items: center;
  height: 250px;
  overflow: hidden;
  margin: auto;
  z-index: 1;
  background: black;
}
.banner-slider-track{
  display: flex;
  width:clac(250px *18);
  animation: scroll 40s linear infinite;
  transition: all .001s ease;
}
@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 7));
  }
}
.img-container {
  width: 180px;
  display: flex;
  align-items: center;
  padding: 10px;
  perspective: 100px;
}
.img-container > img {
  width: 100%;
  transition: transform 1s;
  filter: grayscale(.5);
}
.img-container > img:hover {
  transform: translateZ(10px);
}
.banner-container::before{
  background: linear-gradient(to right, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
  left:0;
  top: 0;
}   
.banner-container::after {
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.7) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
  right: 0;
  top: 0;
}   
.edu-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 8vh auto 5vh auto;
}
.education {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 2vh;
}
.icon {
  color: rgba(200, 150, 100, .6);
  font-size: 40px;
  margin: 2vw;
}
b{
  font-family:Arial, Helvetica, sans-serif;
}
.edu-sec{
  line-height: 2rem;
}
.resume {
  background: black;
  color: white;
  border: 1px solid rgba(200, 150, 100, .6);
  padding: 1rem 5rem;
  margin-top: 8vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s ease;
}
.resume:hover{
  box-shadow: 0 3px 10px rgb(100 100 100 / .8);
  transform: scale(1.05);
}
.projects-container{
  background: black;
  margin: 0 auto;
  padding: 15vh 5vw;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 150px 330px 310px;
  grid-template-areas: 
  "head head head head head head head head head head head head head head head"
  "project1 project1 project1 project1 project1 project1 project1 project3 project3 project3 project3 project3 project3 project3 project3"
  "project4 project4 project4 project4 project4 project4 project4 project4 project5 project5 project5 project5 project5 project5 project5";
  grid-gap: 30px;
  max-width: 1300px;
  
}

.head{
  grid-area: head;
 
}
.head > h3{
  margin: 2vh auto 10vh auto;
  font-size: 5rem;
  text-align: center;
  font-family: 'Herr Von Muellerhoff', cursive;
}
.project1{
  grid-area: project1;
  min-width: 310px;
  display: flex;
  position: relative;
}
.img {
  width: 100%;
  transition: all .3s ease;
  cursor: pointer;
}
.img:hover{
  filter: grayscale(.9);
  transform: scale(1.1);
}
.project3{
  grid-area: project3;
  display: flex;
  position: relative;
}

.project4{
  grid-area: project4;
  display: flex;
  position: relative;
}
.project5{
  grid-area: project5;
  min-width: 310px;
  display: flex;
  position: relative;
}
.overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 /.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .5s ease;
}
.overlay > a {
  background: transparent;
  padding: 5px 30px;
  border: none;
  border-bottom: 1px solid rgba(200, 150, 100, .6);
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s ease;
  margin: 0 1vw;
}
.overlay > a:hover{
  transform: scale(1.1);
}
.overlay:hover{
  opacity: .8;
  
}
.resume > span {
  font-size: 14px;
}
/* This one is out, for the code and site*/
/* .overlay > button {
   margin: 2vw;
  padding: 5px 30px;
  border-radius: 20px;
  background: black;
  color: white;
  border: 1px solid rgba(200, 150, 100, .6);
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: all .3s ease;
} */

.contact-container{
  background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .99)60%), url('city.jpg');
  background-size: cover;
  padding: 3vw;
  display: flex;
  flex-direction: column;
}
.contact-container > h3 {
  font-size: 5rem;
  font-family: 'Herr Von Muellerhoff', cursive;
  margin: 0 auto;
  text-align: center;
}
.icons {
  margin: 1vh auto;
  color: white;
  cursor: default;
}
.icons > a {
  color: white;
}
a > i {
  margin: 1vw;
  cursor: pointer;
  display: inline-block;
  transition: all .3s ease;
  color:rgba(200, 150, 100, .6);
  font-size: 22px;
}
a > i:hover{
  transform: scale(1.1);
}
.contact-container > form {
  display: flex;
  flex-direction: column;
  margin: 3vh auto;
  width: 100%;
}
.line {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px groove white;
  display: flex;
  flex-direction: column;
  margin: 2vh auto;
  padding-right: 10rem;
  padding-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}
textarea {
  background: transparent;
  border: 1px groove white;
  height: 10rem;
  border-top: none;
  border-bottom: none;
  padding-left: 5px;
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  min-width: 310px;
  margin: 0 auto;
}
.button-section{
  margin: 2vh auto;
}
.send-button {
  background: black;
  border: 1px solid rgba(200, 150, 100, .6);
  padding: .8rem 5rem;
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: all .3s ease;
  margin-top: 7vh;
}
.send-button:hover{
  box-shadow: 0 3px 10px rgb(100 100 100 / .8);
  transform: scale(1.05);
}
footer{
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(100 100 100 / .8);
}
footer > p{
  font-size: 13px;
}
.show-small{
  width: 20vw;
  min-width: 200px;
  border-radius: 50%;
  margin: 3vh auto 0 auto;
  box-shadow: 0 1px 10px rgb(0 0 0 /.9);
  display: none;
}
.skills-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin: 5vh auto 10vh auto;
}
.skills-title{
  font-size: 45px;
  font-family: 'Hurricane', cursive;
  /* margin-bottom: 4vh; */
}
.skills {
  width: 70vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 10vh;
  align-items: center;
  margin: 5vh auto 15vh auto;
}
@media (min-width:800px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
@media (max-width: 1100px) {
  .projects-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .project1, .project3, .project4, .project5{
      width: 80%;
      margin-bottom: 5vh;
  }
  .head{
     height: 120px;
     margin-top: 6vh;
  }
  
}
@media (max-width: 980px) {
  .background{
      height: 70vh;
      justify-content: space-around;
  }
  .title-container{
      flex-direction: column;
      margin-top: none;
      /* height: 120vh; */
      /* padding-top: 5rem; */
  }
  .text-title{
      width: 100vw;
  }
  .text-title > h1{
      font-size: 4.5rem;
  }
  .text-title > p {
      font-size: 18px;
  }
  .image-title{
      display: none;
  }
  .show-small {
      display: block;
  }
}
@media (max-width: 800px) {
  .nav-links {
      display: none;
  }
  .navbar{
     width: 100vw;
     justify-content: space-between;
  }
  .logo{
     
  }
}
@media (max-width: 650px) {
  .about-info{
      width: 100%;
  }
  .about-info > p {
      font-size: 15px;
  }
  .edu-sec > p {
      text-align: center;
  }
  .diamond, .diamond2 {
      display: none;
  }
  .resume{
      font-size: 16px;
      padding: 1rem 3rem;
  }
  .project1, .project3, .project4, .project5{
      width: 90%;
      margin-bottom: 5vh;
  }
  }
